= form_for @instagram_user, layout: :horizontal do |f|
  = f.text_field :user, :class => 'form-control'
  = f.datetime_select :last_synced, :class => 'form-control'
  = f.text_field :username, :class => 'form-control'
  = f.text_field :full_name, :class => 'form-control'
  = f.text_field :profile_picture, :class => 'form-control'
  = f.number_field :media_count, :class => 'form-control'
  = f.number_field :followed_count, :class => 'form-control'
  = f.number_field :following_count, :class => 'form-control'
  = f.submit :class => 'btn btn-primary'
