.container
  .row
    .col-sm-3
      = panel title: "Top Users" do
        .panel-body
          = nav as: :pills, layout: :stacked do
            - @top_users.each do |top_user|
              - user = @user_hash[top_user[:instagram_user_id].to_i]
              = link_to user do
                = user.username
                %span.badge= top_user[:count]

    .col-sm-9
      - if @user
        .row
          .col-sm-12
            = panel title: "@#{@user.username}: #{@user.full_name}" do
              .panel-body.user_info
                .col-xs-3
                  = image_tag @user.profile_picture, class: "img-responsive"

                .col-xs-9
                  - @top_users.each do |top_user|
                    - if top_user[:instagram_user_id].to_i == @user.id
                      %p= "@#{@user.username} has liked #{top_user[:liked]} of your photos, and made #{top_user[:count] - top_user[:liked]} comments."

      .row
        - @instagram_media.each do |post|
          .col-xs-6.col-sm-4.col-md-3
            .thumbnail
              = link_to post.link do
                = image_tag post.standard_url

              .caption
                %p
                  = post.likes_count
                  likes
                %p
                  = time_ago_in_words post.created_at
                  ago.
