.container
  .page-header
    = link_to instagram_users_path, :class => 'btn btn-default' do
      %span.glyphicon.glyphicon-list-alt
      Back
    = link_to edit_instagram_user_path(@instagram_user), :class => 'btn btn-primary' do
      %span.glyphicon.glyphicon-pencil
      Edit
    %h1 Show instagram_user

  %dl.dl-horizontal
    %dt User:
    %dd= @instagram_user.user
    %dt Last synced:
    %dd= @instagram_user.last_synced
    %dt Username:
    %dd= @instagram_user.username
    %dt Full name:
    %dd= @instagram_user.full_name
    %dt Profile picture:
    %dd= @instagram_user.profile_picture
    %dt Media count:
    %dd= @instagram_user.media_count
    %dt Followed count:
    %dd= @instagram_user.followed_count
    %dt Following count:
    %dd= @instagram_user.following_count

