.container
  .row
    .center-panel.text-center
      = panel title: "@#{@crush.instagram_user.username}'s Crush" do
        .panel-body
          .crush_pane
            .person
              = image_tag @crush.crush_user.profile_picture
            .heart
              %span.glyphicon.glyphicon-heart
            .person
              = image_tag @crush.instagram_user.profile_picture

          .stats
            %code= "@#{@crush.crush_user.username}"
            has hearted 
            %b= @crush.likes_count
            and commented on
            %b= @crush.comments_count
            of 
            %code
              ="@#{@crush.instagram_user.username}'s"
            recent photos!


      .row
        .col-xs-6.text-center
          = link_to "Top Users", welcome_top_users_path, class: "btn btn-primary btn-lg"
        .col.xs-6.text-center
          = link_to "Top Posts", welcome_top_posts_path, class: "btn btn-primary btn-lg"