.container
  .page-header
    = link_to instagram_media_index_path, :class => 'btn btn-default' do
      %span.glyphicon.glyphicon-list-alt
      Back
    = link_to edit_instagram_medium_path(@instagram_medium), :class => 'btn btn-primary' do
      %span.glyphicon.glyphicon-pencil
      Edit
    %h1 Show instagram_medium

  %dl.dl-horizontal
    %dt Instagram user:
    %dd= @instagram_medium.instagram_user
    %dt Media:
    %dd= @instagram_medium.media_id
    %dt Media type:
    %dd= @instagram_medium.media_type
    %dt Comments count:
    %dd= @instagram_medium.comments_count
    %dt Likes count:
    %dd= @instagram_medium.likes_count
    %dt Link:
    %dd= @instagram_medium.link
    %dt Thumbnail url:
    %dd= @instagram_medium.thumbnail_url
    %dt Standard url:
    %dd= @instagram_medium.standard_url

