= navbar position: :static do
  = vertical do
    = link_to root_path do
      %span.glyphicon.glyphicon-heart
      Crush
  = horizontal do
    = nav class: 'navbar-right' do
      = link_to "Crush", crush_index_path
      = link_to "Top Users", instagram_users_path
      = link_to "Top Posts", instagram_media_path
      = render partial: "application/account_dropdown"
