= navbar position: :static do
  = vertical do
    = link_to root_path do
      %span.glyphicon.glyphicon-heart
      Crush
  = horizontal do
    = nav class: 'navbar-right' do
      = link_to "Crush", welcome_show_crush_path
      = link_to "Top Users", welcome_top_users_path
      = link_to "Top Posts", welcome_top_posts_path
      = render partial: "application/account_dropdown"
